/*reset.css start*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
padding: 0;
margin: 0;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
fieldset,img {
border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
font-weight: normal;
font-style: normal;
}
ol,ul {
list-style: none;
}
caption,th {
text-align: left;
}
h1,h2,h3,h4,h5,h6 {
font-weight: normal;
font-size: 100%;
}
q:before,q:after {
content:'';
}
abbr,acronym { border: 0;
}
/*reset.css end*/

/**************************相册 start**************************/
.gallery{
    height: 661px;
    width: 840px;
    overflow: hidden;
    position: relative;
}

/********相册大图展示区域  start**********/
.gallery_show{
    height: 620px;
    width: 640px;
    background: #F6F6F6;
    text-align: center;
    line-height: 640px;
    position: relative;
}
.gallery_con{
    height: 600px;
    width: 600px;
    padding:10px 20px; 
    line-height: 600px;
    text-align:center;
}
.gallery_hidden_pic{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10px;
    width: 10px;
    visibility: hidden;
    overflow:hidden;
    z-index:5;
}

/*全兼容的垂直居中[需要添加一个i标签] start*/
.gallery_con{
    display:table-cell;
    vertical-align:middle;
}
.gallery_con i{
    _display:inline-block;
    _height:100%;
    _vertical-align:middle
}
.gallery_curImg{
    vertical-align: middle;
    max-width: 600px;
    max-height: 600px;
    _height: expression(this.height > 600 ? '600px': true);
    _width: expression(this.width > 600 ? '600px': true);
}
/*全兼容的垂直居中[需要添加一个i标签] end*/

/*箭头 start*/
.gallery_show a{
    display: none;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 4px;    
    color:#FFFFFF;
    text-align: center;
    line-height: 50px;
    top: 50%;
    margin-top:-25px;
    font-size: 40px;
    z-index: 10;
    cursor: pointer;
}

.gallery_show_on a,.gallery_show_on a:link,.gallery_show_on a:visited,.gallery_show_on a:hover{
    background:#000000;
    display: block;
    color: #FFF;
    text-decoration: none;
    filter:alpha(opacity=60);
    opacity:0.6;
}
.gallery_show_on a:active{
    background:#000000; 
    display: block;
    text-decoration: none;
    opacity:0.8;
    filter:alpha(opacity=80);
}
.gallery_arrow_left{    
    left: 30px;
}
.gallery_arrow_right{
    right: 30px;
}
/*箭头 end*/
/********相册大图展示区域  end**********/


/*****相册底部信息 start*****/
.gallery_info{
    height: 40px;
    border-top:1px dotted #E1E1E1;
    border-left:20px solid #F6F6F6;
    border-right:20px solid #F6F6F6;
    background:#F6F6F6;
    width: 600px;
    line-height: 40px;
}
.gallery_index{
    float: left;
    color: #999999;
    font:normal 16px/40px "";   
}
.gallery_curIndex{
    font:bold 16px/40px "Arial";
    color: #5FB94B;
}
.gallery_des{
    float: right;
    font: normal 14px/40px "Arial";
    color: #333;
}
/*****相册底部信息 end*****/


/*****右侧缩略图 start*****/
.gallery_scale{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index:11;
    width:200px;
    height:661px;
    background: #E1E1E1;
}
.gallery_scale_wrapper{
    width: 200px;
    height: 564px;
    overflow: hidden;
    position: relative;
}

/*上下箭头以及内部内容 start*/
.gallery_scale .gallery_arrow_r{
    display:none;
    position: static;
    height: 48px;
    width: 200px;   
    box-shadow:2px 0px 6px #AAA;
    overflow: hidden;
    cursor: pointer;
}
.gallery_scale .down_un,.gallery_scale .up_un{
    box-shadow: none;
}
.gallery_scale .down_un i{
    border-color: #FFFFFF #E1E1E1 #E1E1E1 #E1E1E1;
    cursor:auto;
}
.gallery_scale .up_un i{
    border-color: #E1E1E1 #E1E1E1 #FFFFFF #E1E1E1;
    cursor:auto;
}
/*点击 start*/
.gallery_scale .down_active,.gallery_scale .up_active{
    background: #F7FFEC;
}
.gallery_scale .down_active i{
    border-color: #5FB94B #F7FFEC #F7FFEC #F7FFEC;
}
.gallery_scale .up_active i{
    border-color: #F7FFEC #F7FFEC #5FB94B #F7FFEC;
}
/*点击 end*/


.gallery_arrow_up{
    border-bottom: 1px solid #AAAAAA;    
}
.gallery_arrow_down{
    border-top: 1px solid #AAAAAA;
}
.gallery_scale i{
    display: block;
    margin: 0px auto;
    height: 0px;
    width: 0px;
    line-height: 0px;
    border:10px solid;
    overflow: hidden;
}
.gallery_arrow_down i{
    border-color: #555555 #E1E1E1 #E1E1E1 #E1E1E1;
    margin-top: 20px;
}
.gallery_arrow_up i{
    border-color:#E1E1E1 #E1E1E1 #555555 #E1E1E1;
    margin-top:10px;    
}
/*上下箭头以及内部内容 end*/

/*内部图片 start*/
.gallery_scale_con{
    width: 200px;
    height:auto;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:10;
}
.gallery_scale_con span:hover{
    border:2px solid #8D8A67;
}
.gallery_scale_con dl{
    width: 197px;
    overflow: hidden;   
    padding-left: 3px; 
}
.gallery_scale_con span{
    float: left;
    display: inline;
    height: 50px;
    width: 67px;
    padding:2px;
    border:2px solid #E1E1E1;
    margin-left: 15px;
    margin-top: 5px;
}
.gallery_scale_con dt{
    display: block;
    height: 40px;
    margin-left:18px;
    font:normal 14px/44px "宋体";
    color: #333;
}
.gallery_scale_con span.on{
    border-color:#ACD062;
}
/*内部图片 end*/

/*****右侧缩略图 end*****/

/**************************相册 end**************************/