/*reset start*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
padding: 0;
margin: 0;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
fieldset,img {
border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
font-weight: normal;
font-style: normal;
}
ol,ul {
list-style: none;
}
caption,th {
text-align: left;
}
h1,h2,h3,h4,h5,h6 {
font-weight: normal;
font-size: 100%;
}
q:before,q:after {
content:'';
}
abbr,acronym { border: 0;
}
/*reset end*/



body{
	background-color: #000;
}
.gallery{
	height: 661px;
	width: 840px;
	overflow: hidden;
	position: relative;
}

/********相册大图展示区域  start**********/
.gallery_show{
	height: 620px;
	width: 640px;
	background: #F6F6F6;
	text-align: center;
	line-height: 640px;
	position: relative;
}
.gallery_con{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 400px;
	width: 600px;
}

.gallery_curImg{
	position: absolute;
	height: 400px;
	width: 600px;
	top: -50%;
	left:-50%;
	background-color: #f00;
}


/*箭头 start*/
.gallery_arrow{
	position: absolute;
	height: 50px;
	width: 50px;
	border-radius: 4px;
	background:#000000;
	opacity:0.6;
	filter:alpha(opacity=60);
	color:#FFFFFF;
	text-align: center;
	line-height: 50px;
	top: 50%;
	margin-top:-25px;
	font-size: 40px;
	z-index: 10;
	cursor: pointer;
}
.gallery_arrow_left{	
	left: 30px;
}
.gallery_arrow_right{
	right: 30px;
}
/*箭头 end*/
/********相册大图展示区域  end**********/


/*****相册底部信息 start*****/
.gallery_info{
	height: 40px;
	border-top:1px dotted #E1E1E1;
	border-left:20px solid #F6F6F6;
	border-right:20px solid #F6F6F6;
	background:#F6F6F6;
	width: 600px;
	line-height: 40px;
}
.gallery_index{
	float: left;
	color: #999999;
	font:normal 16px/40px "";	
}
.gallery_curIndex{
	font:bold 16px/40px "Arial";
	color: #5FB94B;
}
.gallery_typeName{
	float: right;
	font: normal 14px/40px "Arial";
	color: #333;
}
/*****相册底部信息 end*****/


/*****右侧缩略图 start*****/
.gallery_scale{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index:11;
	width:200px;
	height:661px;
	background: #E1E1E1;
}
/*****右侧缩略图 end*****/
