/*author:jeffreychen*/
/*最外层*/
#act_canvas{
    width: 225px;
    height: 95px;
    margin:120px auto 0px;
    position: relative;
    background:#a9a7a3;
    border:1px solid #ccc;
    box-shadow: 3px 3px 5px #999;
}
/*画布*/
#canvas{
    width: 225px;
    height: 95px;
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
    cursor: pointer;

}

/**********结果展示区 start**********/
#resultArea{
    position: absolute;
    background: #fff;
    top:0px;
    left:0px;
    width: 225px;
    height: 95px;
    text-align: center;
}
.getGold{
    position: relative;
    top:7px;
    width:100%;
    text-align: center;
    color: #EF4C25;
    font-weight: 800;
    font-size:18px;
}
.resultText{
    position: relative;
    top:15px;
    width:100%;
    text-align: center;
    color: #EF4C25;
}
.buttonClickArea{
    width:130px;
    height:40px;
    position: relative;
    top:20px;
    left:45px;
}
.unlucky .resultText{
    top: 25px;
}
.unlucky .buttonClickArea{
    top: 33px;
}
.moreButton{
    width: 80px;
    height: 25px;
    display: block;
    margin:0px auto;
    text-align: center;
    position: relative;
    top:7px;
    color: #fff;
    font-weight: bold;
    font-size:12px;
    border:0px;
    background: #CE0D00;
    background:-webkit-linear-gradient(top, #EF4C25, #CE0D00);
    border-radius: 7px;
}
/*未中奖图片*/
.canvas{
    background:#f8f8f8 url("unlucky.png") center center no-repeat;
}
/*中奖图片*/
.canvasGoldBg{
    background: #fff url("lucky.jpg") center center no-repeat;
}

/**********结果展示区 end**********/

/*webkit浏览器中css3触发GPU加速*/
.cube {
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}